#contact {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10em 4em 10em;
  text-align: center;

  span {
    display: block;
    margin: 5px 0;
  }

  h2 {
    padding: 3em 0;
  }

  h4 {
    margin: 2em 0;
  }

  p {
    a {
      text-decoration: none;
      color: white;
    }
    display: inline;
    padding-left: 20px;
  }

  svg {
    display: inline;
    width: 18px;
    height: 18px;
  }

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-basis: 600px;
      max-width: 600px;


      input, textarea {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
      }

      textarea {
        border-radius: 0;
      }

      #submit-btn {
        background-color: white;
        border: none;
        border-radius: 0 0 20px 20px;
        cursor: pointer;
        transition: all .5s;
        border: 1px solid white;
      }

      #submit-btn:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 18px;
  margin: 1em 0;

  span {
    cursor: pointer;
    transition: all .3s;
  }

  span:hover {
    color: brown;
  }
}

@media (max-width: 600px) {
  #contact {
    padding: 0 5em 3em 5em;
  }
}